{
    "Logging": {
        "LogLevel": {
            "Default": "Information",
            "Microsoft.AspNetCore": "Warning"
        }
    },
    "Jwt": {
        "Key": "your_jwt_secret_key_here_replace_with_secure_value",
        "Issuer": "Nhom8",
        "Audience": "Nhom8"
    },
    "ConnectionStrings": {
        "DefaultConnection": "Server=.;Database=HotelManagement;Trusted_Connection=True;TrustServerCertificate=True;"
    },
    "Permissions": [
        "VIEW_DASHBOARD",
        "MANAGE_USERS",
        "MANAGE_ROLES",
        "MANAGE_ROOMS",
        "MANAGE_BOOKINGS",
        "MANAGE_AMENITY",
        "MANAGE_SERVICES",
        "MANAGE_VOUCHERS",
        "MANAGE_INVENTORY",
        "APPROVE_LOSS",
        "UPDATE_CLEANING",
        "VIEW_REPORTS",
        "MANAGE_ATTRACTIONS",
        "MANAGE_ARTICLES",
        "MANAGE_ARTICLE_CATEGORY",
        "MANAGE_EQUIPMENTS",
        "MANAGE_ROOM_INVENTORY",
        "MANAGE_ROOM_TYPES"
        "MANAGE_REVIEWS",
    ],
    "CloudinarySettings": {
        "CloudName": "your_cloud_name",
        "ApiKey": "your_api_key",
        "ApiSecret": "your_api_secret"
    },
    "AllowedHosts": "*",
    "EmailSettings": {
        "Host": "smtp.example.com",
        "Port": 587,
        "SenderEmail": "your_smtp_username",
        "SenderPassword": "your_smtp_password"
    },
    "BookingAutoCancel": {
        "Enabled": true,
        "CheckInGraceMinutes": 60,
        "ScanIntervalMinutes": 5
    },
    "Momo": {
        "PartnerCode": "MOMO",
        "AccessKey": "F8BBA842ECF85",
        "RequestType": "captureWallet",
        "ExtraData": "",
        "StoreId": "Test Store",
        "PartnerName": "MoMo Payment",
        "SecretKey": "K951B6PE1waDMi640xX08PD3vg6EkVlz",
        "Endpoint": "https://test-payment.momo.vn/v2/gateway/api/create",
        "RedirectUrl": "http://localhost:5173",
        "IpnUrl": "https://localhost:5082/api/momo/ipn"
    }
}